<%= form_for([current_user.articles.new]) do |f| %>
 <div class="field">
    <%= f.label :body,"what you are doing now ?" %><br />
    <%= f.text_area :body %>

   
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
